<h1>Share Your Interview Experience</h1>
<form action="/entries" method="POST">

	<label>Program Name:</label>
	</br></br>
	<input type="text" name="name">
	</br></br>
	<label>Program Specialty:</label>
	</br></br>
		<select name="field">
	   <option value="Anesthesiology">Anesthesiology</option>
		 <option value="Dermatology">Dermatology</option>
		 <option value="Emergency Medicine">Emergency Medicine</option>
		 <option value="Family Medicine">Family Medicine</option>
		 <option value="Internal Medicine">Internal Medicine</option>
		 <option value="Neurology">Neurology</option>
		 <option value="Neurosurgery">Neurosurgery</option>
		 <option value="OBGYN">OBGYN</option>
		 <option value="Ophthalmology">Ophthalmology</option>
		 <option value="Orthopaedic Surgery">Orthopaedic Surgery</option>
	   <option value="Otorhinolaryngology">Otorhinolaryngology</option>
		 <option value="Pathology">Pathology</option>
		 <option value="Pediatrics">Pediatrics</option>
		 <option value="Physiatry">Physiatry</option>
		 <option value="Psychiatry">Psychiatry</option>
		 <option value="Radiology">Radiology</option>
		 <option value="Surgery">Surgery</option>
		 <option value="Urology">Urology</option>
 		</select>
	</br></br>
	<label>Experience:</label>
	</br></br>
	<textarea rows="7" cols="70" type="text" name="content"></textarea>
	</br></br>
	<input type="submit" value="Submit">
</form>

<p><a href="/applicants/show">View Your Interviews</a><br>
<a href="/entries">View Other Applicants' Experiences</a><br>
<a href="/logout">Logout</a></p>
