<h3>Edit</h3>
<form action="/entries/<%= @entry.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">

<label>Program Name:</label>
	<input type="text" name="name" id="name" value="<%= @entry.name %>">
</br></br>

<label>Program Field:</label>
</br></br>
	<select name="field">
	 <option value="Anesthesiology">Anesthesiolog</option>
	 <option value="Dermatology">Dermatology</option>
	 <option value="Emergency Medicine">Emergency Medicine</option>
	 <option value="Family Medicine">Family Medicine</option>
	 <option value="Internal Medicine">Internal Medicine</option>
	 <option value="Neurology">Neurology</option>
	 <option value="Neurosurgery">Neurosurgery</option>
	 <option value="OBGYN">OBGYN</option>
	 <option value="Ophthalmology">Ophthalmology</option>
	 <option value="Orthopaedic Surgery">Orthopaedic Surgery</option>
	 <option value="Otorhinolaryngology">Otorhinolaryngology</option>
	 <option value="Pathology">Pathology</option>
	 <option value="Pediatrics">Pediatrics</option>
	 <option value="Physiatry">Physiatry</option>
	 <option value="Psychiatry">Psychiatry</option>
	 <option value="Radiology">Radiology</option>
	 <option value="Surgery">Surgery</option>
	 <option value="Urology">Urology</option>
	</select>
</br></br>

<label>Experience:</label>
	<input type="text" name="content" id="content" value="<%= @entry.content %>">
</br></br>

<input type="submit" value="submit">
</form>
