<h2>Here are what applicants' had to say about their interview days:</h2>

<% @entries.each do |entry| %>
  <b>Program Name:</b> <%= entry.name %><br>
  <b>Program Field:</b> <%= entry.field %><br>
  <b>Interview Story:</b> <%= entry.content %><p>
<% end %>

<p>
Now that you've finished reading, what would you like to do? <br>
<a href="/entries/new">Add Interview</a><br>
<a href="/applicants/show">View Your Interviews</a><br>
<a href="/logout">Logout</a>
</p>
