<h3>Show Page</h3>
<%= @entry.content %>

<form action="/entries/<%= @entry.id %>/delete" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Entry">
</form>

<a href="/entries/<%= @entry.id %>/edit">Edit Info</a>
