<h1>Login</h1>
<form action="/login" method="POST">

<% if flash.has?(:message) %>
  <font color="red"><%= flash[:message] %></font><br></br>
<% end %>

	Username:
	<input type="text" name="username">
	</br></br>

	Password:
	<input type="password" name="password">
	</br></br>

	<input type="submit" value="Log in">
</form>

<p>Not a member? Sign up for an account <a href="/signup">here</a>!</p>
