<h1>List of <%= current_applicant.username %>'s Entries</h1>

<p><a href="/entries/new">Add Interview</a>
</p>

<p><% current_applicant.entries.each do |entry| %>
    <a href="/entries/<%= entry.id %>"><%= entry.name %> - <%= entry.field %><br></br>
   <% end %>

<a href="/logout">Logout</a>
</p>
